* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

body:hover {
    background-color: rgb(188, 255, 255);
    color: black;
}

.container {
    padding: 50px;
}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__name {
    font-size: 50px;
}

.section-one__role {
    font-size: 30px;
    margin-top: 10px;
}

.section-one__contact {
    background-color: rgb(200, 255, 0);
    color: black;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
}

.section-one__contact:hover {
    background-color: chocolate;

}

.section-two,
.section-three,
.section-four,
.section-five {
    margin-top: 20px;
}

.section-two__description,
.section-three__description,
.section-four__description,
.section-five__description {
    margin-top: 10px;
}

.section-five {
    background-color: black;
    color: white;
    text-align: center;
}

.section-five__anchor {
    color: skyblue;
}

.section-five__anchor:hover {
    color: chocolate;
    background-color: rgb(66, 66, 66);
}

.section-five__thanks {
    text-align: center;
    margin-top: 20px;
}

.section-three li,
.section-four li {
    list-style: none;
}

.section-three {
    color: black;
    background-color: rgb(51, 122, 255);
    display: inline-block;
    height: 250px;
    border-radius: 20px;
    text-align: justify;
    padding: 20px;
    vertical-align: top;
}

.section-four {
    color: black;
    background-color: rgb(255, 167, 3);
    display: inline-block;
    height: 250px;
    border-radius: 20px;
    text-align: justify;
    padding: 20px;
    vertical-align: top;
}

.contact--form {
    margin-top: 25px;
}

.contact--form__input,
.contact--form__text,
.contact--form__textarea,
.contact--form__submit,
.class--form__gender
{
 margin-top: 15px;
}
.contact--form__email{
    padding: 10px;
    margin-top: 15px ;
    margin-bottom: 15px;
     border: none;
    border-bottom: solid black 1px;
   
}


.contact--form__others{
    display: block;
      padding: 10px;
    margin-top: 15px ;
    margin-bottom: 15px;
     border: none;
    border-bottom: solid black 1px;
}
.contact--form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact--form__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;
}
.contact--form__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: rgb(200, 255, 0);
}
.contact--form__submit:hover{
    background-color: chocolate;
}

